@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v34-latin-regular.eot'); 
    src: local(''),
         url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'),
         url('../fonts/open-sans-v34-latin-regular.woff') format('woff'); 
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v34-latin-600.eot'); 
    src: local(''),
    url('../fonts/open-sans-v34-latin-600.woff2') format('woff2'), 
    url('../fonts/open-sans-v34-latin-600.woff') format('woff'); 
}
 
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v34-latin-700.eot'); 
    src: local(''),
    url('../fonts/open-sans-v34-latin-700.woff2') format('woff2'), 
    url('../fonts/open-sans-v34-latin-700.woff') format('woff');
}
  
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans-v34-latin-italic.eot'); 
    src: local(''),
    url('../fonts/open-sans-v34-latin-italic.woff2') format('woff2'), 
    url('../fonts/open-sans-v34-latin-italic.woff') format('woff');
}
  
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/open-sans-v34-latin-800italic.eot'); 
    src: local(''),
    url('../fonts/open-sans-v34-latin-800italic.woff2') format('woff2'), 
    url('../fonts/open-sans-v34-latin-800italic.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans-v34-latin-regular.eot'); 
    src: local(''),
    url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'), 
    url('../fonts/open-sans-v34-latin-regular.woff') format('woff');
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
box-sizing: border-box;
}

.page {
    box-sizing: border-box;
    min-width: 350px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}



.page__inner {
    display: block;
    width: 100%; 
  
}



.page__inner_intro{
    padding: 0 1vw;
    padding-top: 29px;

}

.page__inner_gray {
    background-color: #F6F2F2;
}

.page__inner_dark {
    background-color: #2C2C2C;
}


.page__inner_section {
    padding: 0 1vw;
    padding-top: 102px;
    padding-bottom: 110px;  
 
}

.page__header {
    margin: 0 auto; /*po centru*/

    }

.page__inner_subscribe {
    padding: 0 1vw;

}

.page__inner_footer {
    padding: 0 1vw;

}

.header {
    display: flex;
    justify-content: center;
    min-height: 89px;
    max-width: 1249px;
    background-color: rgba(0, 0, 0, 0.8);

}


.site-menu {
    margin-left: -32px;

}


@media screen and (max-width: 600px) {
    .site-menu {
        margin-left: initial;

    }
}

.site-menu__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

}

@media screen and (max-width: 600px) {
    .site-menu__list {
       justify-content: center;

    }
}


.site-menu__list > li {
    display: flex;
    min-height: 89px;

}


.site-menu__link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: #F6F2F2;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

}

.site-menu__link:hover {
    background-color: #FF3F40;
}

.site-menu__link_active {
    background-color: #FF3F40;
}

/*Main*/
/*Intro*/

.intro {
    display: flex;
    max-width: 1249px;
    margin: 0 auto;   
    justify-content: space-between;
    flex-wrap: wrap;

    
}


@media screen and (min-width: 800px) and (max-width: 1240px) {
    .intro {
        flex-wrap: nowrap;

}
}

.intro__info {
    max-width: 595px;
    margin-right: 2vw;

}

@media screen and (max-width: 1240px) {
    .intro__info {
        width: 50%;
        margin-right: initial;

}
}

@media screen and (max-width: 800px) {
    .intro__info {
        width: 100%;
        margin-bottom: 80px;

}
}


.intro__heading {
    font-family: 'Open Sans';
    font-size: 60px;
    line-height: 1.2;
    font-weight: 800;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 19px;
    margin-top: -15px;
 
    }
  

.intro__span_special {
    letter-spacing: 6px;
    overflow-wrap: break-word;
    hyphens: auto;

}

.intro__text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 28px; 
    margin: 0;
    margin-bottom: 58px;

}

.action-link {
    display: flex;
    width: 227px;
    padding: 0.5em 1em;
    box-sizing: border-box;
    min-height: 55px;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 34px;
    font-weight: 700;
    font-style: normal;
    border-radius: 5px;
    text-decoration: none;

}

.action-link_red-full {
    background-color: #FF2D2D;
    color: rgba(255, 255, 255, 1);


}

.action-link_red-transp {
    color: #FF2D2D;
    border-color: rgba(0, 0, 0, 0.0001);
    border: 2px solid #FF2D2D;
}

.intro__video {
    width: 551px;
    height: 356px;
    object-fit: cover;
    box-shadow: -2px -14px 73px rgba(0, 0, 0, 0.29);

}

@media screen and (max-width: 1240px) {
    .intro__video {
        width: 50%;

}
}

@media screen and (max-width: 800px) {
    .intro__video {
        width: 100%;

}
}

/*Services*/
.services {
    display: flex;
    max-width: 1249px;
    margin: 0 auto;
    padding: 0 1vw;
    padding-top: 107px;
    padding-bottom: 90px;
     border-bottom: 2px solid #ECECEC;  
    justify-content: space-between; 

}


.services__info {
    width: 539px;

}

.services__heading {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    margin: 0;
    margin-bottom: 50px;
    font-size: 42px;
    line-height: 55px;
    letter-spacing: 0.4px;
    text-transform: uppercase;

}

.services__about {
    font-family: 'Open Sans';
    margin: 0;
    margin-bottom: 64px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;

}

.services__items {
    display: flex;
    flex-wrap: wrap;
    width: 610px;
 
}

.services__item {
    width: 50%;
    margin-bottom: 53px;

}

.services__item_icon_manag::before {
    content: '';
    display: block;
    width: 41px;
    height: 41px;
    background-repeat: no-repeat;
    background-image: url(../img/shest.svg);
    margin-bottom: 33px;
    background-size: 41px;
}

.services__item_icon_design::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(../img/karan.svg);
    margin-bottom: 33px;
    background-size: 37px;
}

.services__item_icon_logo::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(../img/alm.svg);
    margin-bottom: 33px;
    background-size: 40px;
}

.services__item_icon_anim::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(../img/kam.svg);
    margin-bottom: 33px;
    background-size: 40px;
}


.services__title {
    margin: 0;
    margin-bottom: 13px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 1.2;

}

.services__text {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 1200px) {
    .services {
        padding: 0 1vw;  
    }
}


/*Features*/
.feature {
    max-width: 1249px;
    margin: 0 auto;
    padding: 0 1vw;
    padding-top: 105px;
    padding-bottom: 65px;
}



.feature__header {
    margin-bottom: 88px;
}

.feature__heading {
    margin: 0;
    margin-bottom: 28px;
    font-family: 'Open Sans';
    font-size: 42px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.38px;
    text-transform: uppercase;
    color:rgba(0, 0, 0, 1);
    text-align: center;
}

.feature__about {
    margin: 0 auto;
    margin-bottom: 34px;
    text-align: center;
    width: 537px;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
    
}

.hor-line {
    width: 130px;
    height: 2px;
    background-color: rgba(255, 45, 45, 1);
    border: none;
}

.hor-line_center {
    margin: 0 auto;
}

.hor-line_left {
    margin: 0;
    margin-bottom: 100px;
}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 58px;
}


.filter__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 57px;
    padding: 0;
    margin: 0;
}

.filter__link {
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.22px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.filter__link_active {
    color: rgba(255, 45, 45, 1);
}

.filter__link:hover {
    color: rgba(255, 45, 45, 1);
}

.feature__products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.feature__product {
    width: 297px;
    object-fit: cover;
    object-position: 0% 50%;
    flex: 1 1;
}

/*Team*/
.team {
    max-width: 1249px;
    margin: 0 auto;
    padding: 0 1vw;
    padding-top: 65px;
    padding-bottom: 53px;
    text-align: left;
}


.team_header {
    margin-bottom: 67px;
}

.team__heading {
    font-family: 'Open Sans';
    font-size: 42px;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.team__about {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
    width: 450px;
    margin: 0;
    margin-bottom: 39px;
    font-weight: 400;
    font-style: normal;
}

.team__members {
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    align-items: end;
    column-gap: 2vw;
}


.team__lead-photo {
    object-position: bottom;
    object-fit: contain;
    background-color: #FF3F40;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.team__inner {
    display: flex;
    flex-direction: column;
}

@supports (display: contents) {
    .team__inner {
        display: contents;
    }
}

@supports (grid-template-columns: subgrid) {
    .team__inner {
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
        grid-row: 1 / 3;
        grid-column: 2 / 3;
        align-items: end;
    }
}

.team__lead-main {
    max-width: 631px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
}


.team__lead-link {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 24px;
    font-style: italic;
    text-decoration: none;
    color:rgba(0, 0, 0, 1);
}

.team__lead-link:hover {
    text-decoration: underline;
}

.team__lead-social {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 34px;
}

.team__lead-name {
    display: block;
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
}

.team__lead-about {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 46px;
}

.team__others {
    display: flex;
    flex-wrap: wrap;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-items: center;
    gap: 20px;
}

.team__other {
    position: relative;
}


.team__other-photo {
    display: block;
    background-color: #FF3F40;
}

.team__other-name {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    font-family: 'Open Sans';
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px 0;
}

.team__other:hover > .team__other-name {
    display: block;
}

@media screen and (max-width: 800px) {
    .team__members {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 1em;
        justify-items: center;
    }
    .team__lead-photo {
        grid-row: auto;
    }
    .team__lead-main {
        grid-column: 1 / 2;
        grid-row: auto;
    }
    .team__others {
        justify-content: center;
        grid-column: 1 / 2;
        grid-row: auto;
    }
}

/*Subscribe*/
.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1249px;
    margin: 0 auto;
    padding: 150px 0 140px;
}


.subscribe__heading {
    font-family: 'Open Sans';
    color:white;
    font-size: 42px;
    line-height: 1.2;
    font-weight: 700;
    font-style: normal;
    margin: auto;
    margin-bottom: 17px;
}

.subscribe__about {
    font-family: 'Open Sans';
    color:white;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 59px;
}

.subscribe__form {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;

}

.subscribe__email {
    width: 521px;
    height: 79px;
    border-radius: 5px;
    background-color: #fff;
    padding: 0 36px;
    border: none;
}

.subscribe__button {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-style: normal;
    width: 214px;
    height: 79px;
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 34px;
    border-radius: 5px;
    background-color: #FF2D2D;
    border: none;
    text-transform: uppercase;
}

/*Get in touch*/

.feedback {
    max-width: 1249px;
    margin: 0 auto;
    padding: 0 1vw;
    padding-top: 104px;
    padding-bottom: 107px;
}


.feedback_header {
    max-width: 752px;
    margin-bottom: 77px;
}

.feedback__heading {
    font-family: 'Open Sans';
    font-size: 42px;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.feedback__about {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.75;
    margin: 0;
    margin-bottom: 50px;
    font-weight: 400;
    font-style: normal;
}

.feedback__body {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content:space-between;
    display: grid;
    grid-template-columns: 1fr 731px minmax (auto, 107px) 411px 1fr;
    grid-template-rows: auto;
}

@media (max-width: 1010px) {
    .feedback__body {
        padding: 0 1vw;
    }
}

.feedback__body::after {
    content: '';
    background-color: #2d2d2d;
    grid-column: 5 / 6;
}

.feedback__form {
    width: 731px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.feedback__form > input::placeholder,
.feedback__form > textarea::placeholder {
    font-family: 'Open Sans';
    font-size: 16px;
    color: black;
}

.feedback__name {
    box-sizing: border-box;
    width: 339px;
    height: 69px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    padding-left: 54px;
    margin-right: 53px;
    margin-bottom: 44px;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
}

.feedback__name::placeholder {
    font-family: 'Open Sans';
    font-size: 16px;
    color: black;
}

.feedback__email {
    box-sizing: border-box;
    width: 339px;
    height: 69px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    padding-left: 48px;
    margin-bottom: 44px;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
}

.feedback__button {
    width: 728px;
    height: 72px;
    border-radius: 5px;
    background-color: #FF3B3B;
    text-transform: uppercase;
    border: none;
    font-family: 'Open Sans';
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    }

.feedback__textarea {
    box-sizing: border-box;
    resize: none;
    width: 741px;
    height: 249px;
    margin-bottom: 45px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: none;
    padding: 31px 51px;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
}

.feedback__contacts {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
    background-color: rgba(45, 45, 45, 1);
}


.contacts {
    width: 315px;
    padding: 141px 17px 141px 79px;
}


.contacts__heading {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 1.75;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
}

.contacts__address {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 1.75;
    font-style: normal;
    margin: 0;
    margin-bottom: 27px;
}


.contacts__email {
    display: block;
    font-family: 'Open Sans';
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
}

.contacts__tel {
    display: block;
    font-family: 'Open Sans';
    color: #fff;
    margin: 0;
}

/* Footer */

.footer {
    max-width: 1249px;
    min-height: 111px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.page__inner_dark2 {
    background-color: rgba(49, 48, 48, 1);
}


.footer__copy {
   color: rgba(184, 184, 184, 1);
   margin: 0;
}